@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');



.faster-one-regular {
    font-family: "Faster One", serif;
    font-weight: 00;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    top: 10;
    padding: 30px;
  }



.title-container {
    background-color: peru;
}

.navbar {
    background-color: rgb(72, 196, 127);
    display: flex;
    justify-content: center;
    
}

.nav-btn{
    background-color: rgb(31, 154, 192);
    padding: 10px 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
  
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    margin-bottom: 100px;
    margin-top: 10px;
}
